<%- partial('_partial/head') %>

<body class="loading">
    <div class="loader">
        <div class="la-ball-atom la-2x">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <span id="config-title" style="display:none"><%= config.title %></span>
    <div id="loader"></div>
    <%- body %>
    <div id="back-to-top" class="animated fadeIn faster">
        <div class="flow"></div>
        <span class="percentage animated fadeIn faster">0%</span>
        <span class="iconfont icon-top02 animated fadeIn faster"></span>
    </div>
</body>
<footer>
    <p class="copyright">
        <span title="本站访问量"><span class=" iconfont icon-yonghu"> </span> <span id="busuanzi_value_site_pv" class="gradient-text"></span></span> | <span title="本页阅读量"><span class="iconfont icon-eye"> </span> <span id="busuanzi_value_page_pv" class="gradient-text"></span></span>
    </p>
    <p class="copyright" id="copyright">
        &copy; <%= theme.since %> - <%= date(new Date(), 'YYYY') %>
        <span class="gradient-text">
            <%= config.author || config.title %>
        </span>.
        Powered by
        <span class="gradient-text">
            Hexo
        </span>
        Theme
        <span class="gradient-text">
            Obsidian
        </span>
    </p>
</footer>
<%- partial('_partial/scripts', null, {cache: true}) %>
<%- partial('_partial/baidu-analytics', null, {cache: true}) %>

</html>
